{% extends "layout.html" %} {% block body %}
<div class="container mx-auto p-4">
    <div class="flex flex-row" style="display: flex">
        <div class="w-5/12 pr-4">
            <h2 class="text-xl font-semibold mb-2">ND2 File</h2>
            <div class="flex mb-4">
                <input
                    id="nd2CurrentPath"
                    type="text"
                    class="flex-grow p-2 border rounded-l"
                    value="/"
                    readonly
                />
                <button id="nd2UpDir" class="button-secondary">Up</button>
                <button
                    id="nd2SelectFolder"
                    class="button-primary rounded-r"
                    style="display: none"
                >
                    Select Folder
                </button>
            </div>
            <div id="nd2FileList" class="border p-4 h-48 overflow-y-auto"></div>
            <p id="nd2SelectedItem" class="mt-2 text-gray-700"></p>
        </div>

        <div class="w-5/12 px-4">
            <h2 class="text-xl font-semibold mb-2">Output Folder</h2>
            <div class="flex mb-4">
                <input
                    id="outCurrentPath"
                    type="text"
                    class="flex-grow p-2 border rounded-l"
                    value="/"
                    readonly
                />
                <button id="outUpDir" class="button-secondary">Up</button>
                <button id="outSelectFolder" class="button-primary rounded-r">
                    Select Folder
                </button>
            </div>
            <div id="outFileList" class="border p-4 h-48 overflow-y-auto"></div>
            <p id="outSelectedItem" class="mt-2 text-gray-700"></p>
        </div>

        <div class="w-2/12 pl-4">
            <div class="button-container flex flex-col justify-center h-full">
                <button onclick="submitPaths('view')" class="button mb-4">
                    View
                </button>
                <button onclick="submitPaths('analysis')" class="button mb-4">
                    Analysis
                </button>
                <button onclick="setDefaultPaths('local')" class="button mb-4">
                    Local Default
                </button>
                <button onclick="setDefaultPaths('remote')" class="button">
                    Remote Default
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }
    .button,
    .button-primary,
    .button-secondary {
        display: inline-block;
        padding: 10px 20px;
        margin: 0;
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
    .button {
        background-color: #3d8b40;
    }
    .button-secondary {
        background-color: #1b5e20;
    }
    .button-primary {
        background-color: #2e7d32;
    }
    .button:hover,
    .button-primary:hover,
    .button-secondary:hover {
        opacity: 0.9;
    }
    .button {
        border-radius: 5px;
        width: 100%;
    }
</style>

<script src="{{ url_for('static', filename='selection.js') }}"></script>
<script>
    function setDefaultPaths(type) {
        if (type === "local") {
            document.getElementById("nd2CurrentPath").value =
                "/Volumes//ag-moonraedler/Gerlinde/Schaufel/für Jose/test_mRNATrafo_HuH7A549.nd2";
            document.getElementById("outCurrentPath").value =
                "/Volumes/ag-moonraedler/projects/Liscator/analysed_output_folders/test_mRNATrafo_HuH7A549/";
        } else if (type === "remote") {
            document.getElementById("nd2CurrentPath").value =
                "/project/ag-moonraedler/Gerlinde/Schaufel/für Jose/test_mRNATrafo_HuH7A549.nd2";
            document.getElementById("outCurrentPath").value =
                "/project/ag-moonraedler/projects/Liscator/analysed_output_folders/test_mRNATrafo_HuH7A549/";
        }
        document.getElementById("nd2SelectedItem").textContent =
            "Selected: " + document.getElementById("nd2CurrentPath").value;
        document.getElementById("outSelectedItem").textContent =
            "Selected: " + document.getElementById("outCurrentPath").value;
    }
</script>
{% endblock %}
