{% extends "layout.html" %}
{% from "layout_analysis.html" import analysis_controls, analysis_scripts %}
{% block styles %}
<title>LISCA: Visual Control</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
        background-color: #ffffff;
    }

    .container {
        text-align: center;
        width: 100%;
        justify-content: flex-start;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin-top: 20px;
    }

    .controls {
        flex: 0 0 auto;
        max-width: 300px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }

    .plot-container {
        flex: 1 1 auto;
        max-width: 600px;
    }

    .control-group {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="range"] {
        width: 100%;
    }

    select {
        width: 100%;
        padding: 5px;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: inherit;
    }
    .button {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        /* width: auto; previous value: 10vw */
        background-color: rgb(227, 98, 98);
        margin: 3px;
        padding: 10px;
        /* width: 200px; */
        max-width: inherit;
    }

    .range-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .stepper-pair {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .stepper {
        display: flex;
        align-items: center;
        width: 48%;
    }

    .stepper label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .stepper input[type="number"] {
        width: 60px;
        padding: 5px;
    }

    .channel-selection {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .channel-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .channel-dropdown label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .channel-dropdown select {
        width: 120px;
        padding: 5px;
    }

    #brightness-plot {
        width: 100%;
        height: 800px;
    }
</style>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block body %}
<body>
    <div class="container">
        <img id="channel_image" src="data:image/jpeg;base64,{{ channel_image }}">
        <div class="content-wrapper">
            <div class="controls">
                <!-- Sliders -->
                <div class="control-group">
                    <label for="position_slider">Position: </label>
                    <input type="range" id="position_slider" name="position_slider" min="0" max="{{ n_positions - 1 }}" value="0">
                    <span id="position_value">0/ {{ n_positions - 1 }}</span>
                </div>
                <div class="control-group">
                    <label for="channel_slider">Channel:</label>
                    <input type="range" id="channel_slider" name="channel_slider" min="0" max="{{n_channels}}" value="0">
                    <span id="channel_value">0/ {{ n_channels }}</span>
                </div>
                <div class="control-group">
                    <label for="timeframe_slider">Frame:</label>
                    <input type="range" id="timeframe_slider" name="timeframe_slider" min="0" max="{{n_frames}}" value="0">
                    <span id="timeframe_value">0/ {{ n_frames }}</span>
                </div>
                <div class="control-group">
                    <label for="particle_slider">Particle: </label>
                    <input type="range" id="particle_slider" name="particle_slider" min="0" max="{{ all_particles_len}}" value="{{ current_particle_index }}">
                    <span id="particle_value">{{ current_particle_index }}/ {{ all_particles_len}}</span>
                </div>
                <div class="control-group">
                    <label for="particle_enabled">
                        <!-- <input type="checkbox" id="particle_enabled" name="particle_enabled" -->
                               <!-- {% if current_particle_index not in disabled_particles %}checked{% endif %}> -->


                               <input type="checkbox" id="particle_enabled" name="particle_enabled"
                                   {% if current_particle_index not in disabled_particles %}checked{% endif %}>
                               Cell Enabled
                    </label>
                </div>
                {{ analysis_controls(n_channels=n_channels, n_positions=n_positions, n_frames=n_frames) }}
            </div>
            <div class="plot-container">
                <div id="brightness-plot"></div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='ui.js') }}"></script>
<script src="{{ url_for('static', filename='api.js') }}"></script>
<script src="{{ url_for('static', filename='keyboard_shortcuts.js') }}"></script>

{{ analysis_scripts(n_channels=n_channels, n_positions=n_positions, n_frames=n_frames) }}

<script>
// Plot the brightness figure
var brightnessPlot = JSON.parse('{{ brightness_plot | safe }}');
Plotly.newPlot('brightness-plot', brightnessPlot.data, brightnessPlot.layout);


// document.addEventListener("DOMContentLoaded", function() {
//     const currentParticle = {{ current_particle_index }};
//     const disabledParticles = {{ disabled_particles|tojson|safe }};

//     console.log("Types:", {
//         currentParticle: typeof currentParticle,
//         currentParticleValue: currentParticle,
//         disabledParticles: typeof disabledParticles,
//         disabledParticlesValue: disabledParticles,
//         firstDisabledType: disabledParticles.length ? typeof disabledParticles[0] : 'empty'
//     });
// });
</script>

{% endblock %}

</html>
